#toggle{
	display:none;
}


input, textarea, select, .uneditable-input {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    height: auto;
    line-height: 18px;
    padding: 4px;
    width: 210px;
}

